<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/movies/css/output.css" rel="stylesheet">
        
    </head>
    <body class="font-sans max-w-4xl mx-auto">
        {% if user.is_authenticated %}
            <p>¡Welcome {{user.username}} !</p>
            <a href="http://3.94.71.170:8000/admin/login/" class="rounded-md bg-gray-300 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm 
                                        hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 
                                        focus-visible:outline-offset-2 focus-visible:outline-gray-600">Sign off</a>
        {% else %}
            <div style="text-aling: right;"> 
                <a href="http://3.94.71.170:8000/admin/login/" class="rounded-md bg-gray-300 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm 
                                        hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 
                                        focus-visible:outline-offset-2 focus-visible:outline-gray-600">Log in</a>
            </div>
        {% endif %}
        <br>
    <header class="h-12 w-full text-center mx-auto mt-5 border-b-2 border-sky-500">
        <h1 class="font-medium text-3xl">My Movies</h1>
    </header>
    
    <article>
    {% block article %}
        
    {% endblock %}
    </article>
    <br>
    <footer "h-12 w-full text-center mx-auto mt-5 border-b-2 border-sky-500">
        <p> Team: Error 404 </p>
        <p><a href="https://github.com/Estevez31/Error404_mymovies" class="rounded-md bg-gray-300 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm 
                                        hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 
                                        focus-visible:outline-offset-2 focus-visible:outline-gray-600">GitHub Repository</a></p>
    </footer>
    </body>
</html>