{% extends "movies/base.html" %}

{% block article %}
<div class="text-center">
    <h1 class="movie-title font-bold capitalize">Reviews of the movie: {{ movie.title }}</h1>
</div>

<form hx-post="/movies/{{ movie.id }}/opinion/" method="post" hx-post="true" hx-swap="outerHTML">
    <div class="hover:drop-shadow-md rounded-lg space-x-4 font-bold">
    {% csrf_token %}
    {{ form }}
    </div>
    
    <div class="mt-6 flex items-center justify-end gap-x-6 hover:drop-shadow-md rounded-lg">
        <button type="button" class=" rounded-full px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:text-red-600 hover:bg-white hover:drop-shadow-md" onclick="window.location.href='{% url 'index' %}'">Cancel</button>
        <button id="submit-button" type="submit" class="rounded-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm 
                                        hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 
                                        focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:drop-shadow-md" formnovalidate>Save</button>
    </div>
</form>

<script>
    // Función para mostrar un mensaje de éxito después de enviar el formulario
    function showSuccessMessage() {
        alert("¡El review se ha guardado con éxito!");
    }

    // Agregar un evento para mostrar el mensaje de éxito después de enviar el formulario
    document.getElementById("submit-button").addEventListener("click", showSuccessMessage);
</script>

<div class= "text-left">
    <a href="{% url 'index' %}" class="rounded-full bg-green-400 px-3 py-2 text-sm hover:bg-purple-500 
                                    font-semibold text-white shadow-sm 
                                    focus-visible:outline focus-visible:outline-2 
                                    focus-visible:outline-offset-2 focus-visible:outline-gray-600 drop-shadow-md">Return to menu</a>
</div>

{% endblock %}